<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>hub-integration-test</display-name>
  <context-param>
    <param-name>classpathAppContextLocation</param-name>
    <param-value>test-context-load.xml</param-value>
  </context-param>
  <listener>
    <listener-class>com.smartitengineering.util.bean.spring.ClasspathXmlContextLoader</listener-class>
  </listener>
  <servlet>
    <servlet-name>Mock</servlet-name>
    <servlet-class>com.smartitengineering.util.bean.spring.MockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mock</servlet-name>
    <url-pattern>/mock</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>
            30
    </session-timeout>
  </session-config>
</web-app>
